{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

{% if user.is_authenticated %}
<h1>Welcome, {{user.username}}</h1>
<p><a href="logout">Logout</a></p>
{% else %}
<p><a href="login">Login or Signup</a></p>
{% endif %}

{% for feature in features %}
    ID: {{feature.id}} <br />
    Feature: {{feature.name}}   <br />
    Details: {{feature.details}}<br />
    {% if feature.is_true == True %}
        <p>This Feature is true</p>
    {% comment %} 
        {% elif feature.is_true == False %}
        <p>This Feature is false</p> 
    {% endcomment %}
    {% else %}
        <p>This Feature is false</p>

    {% endif%}
    <hr>
{% endfor %}



<h1 class=> Input your text below: </h1>

<form method="POST" action="counter">
    {% csrf_token %}
    <textarea name="text" rows = "5" cols="100"> </textarea> <br>
    <input type="submit" />
</form>